.jumbotron {
     color: white;
     background-color: rgba(0,0,0,0.5);
     min-width: 800px;
}

.schedule-container {
     min-width: 800px;
}

.input-container {
     min-width: 800px;
}

 body {
        background-color:#d35400;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   }

 table {
     border-collapse: separate;
     border-spacing: 8px;
}


